@charset "utf-8";

/* iphone, ipad and other smartphones */
@media only screen and (max-width: 768px) {
	.modal-body #casestudy-left, .modal-body #casestudy-right { max-width: 100%; }
	
	.modal-body #casestudy-left { margin-bottom: 15px; }
  
  #banner div.banner-contents h1 {
    font-size: 64px;
    line-height: 1.15;
  }
}

@media only screen and (max-width: 640px) {
	.modal-body #casestudy-left .casestudy-lists .content-holder {
		width: 100%;
		margin-bottom: 7px;
	}
	
	nav#navigation a.toggleNavigation {
		display: block;
	}
	
	.opacity {
		background: transparent !important;
		box-shadow: none !important;
	}
	
	nav#navigation ul {
		background: #000000;
		width: 80%;
		display: none;
		margin: 57px 32px 0 auto;
		padding: 10px 30px 40px 30px;
		box-sizing: border-box;
	}
	
		nav#navigation ul li {
			display: block;
			margin: 0;
			padding: 10px 0 5px 12px;
			text-align: left;
			border-bottom: 1px solid #313131;
		}
	
	#banner div.banner-contents h1 {
		font-size: 42px !important;
	}
	
	#banner div.banner-contents h2 {
		font-size: 15px;
		width: 100%;
		margin-top: 15px;
		line-height: 28px;
	}
	
	#banner div.banner-contents hr {
		width: 80%;
		margin-top: 15px;
	}
	
	#banner div.banner-contents ul.social-icons {
		margin-top: 15px;
	}
	
	#banner div.banner-contents ul.social-icons li {
		font-size: 26px;
		margin: 0 10px;
	}
	
	#about img.profile-picture {
		float: right;
		margin: 53px 0 1px 20px;
		height: 100px;
		width: 100px;
	}
	
	#resume div.three.columns h3 {
		text-align: center;
		float: none;
	}
	
	#resume div.nine.columns {
		display: block;
		margin-top: 45px;
		text-align: center;
	}
	
	#resume .skills-meter .skill h4 {
		text-align: left !important;
	}
	
	#projects div.projects-row div.project {
		float: none !important;
		width: 83% !important;
		margin: 10px 0 !important;
	}
	
	#contact .contact-row {
		margin: 5px auto;
	}
	
	#contact .input-group {
		margin: 13px auto;
	}
	
	#contact .contact-row.multi .input-group {
		width: 100%;
		float: none;
		margin: 16px 0;
	}
	
	#contact .two.columns {
		display: none;
	}
	
	#contact input[type="text"], #contact input[type="email"] {
		width: 100%;
	}
	
	#contact textarea {
		width: 100%;
	}
	
	#contact div#contactResult {
		margin-left: 0;
		width: 100%;
		margin-bottom: 20px;
	}
	
	footer ul.footer-social li {
		margin: 0 12px;
	}
	
		footer ul.footer-social li a {
			font-size: 24px;
		}
	
	footer .twelve.columns {
		width: 100%;
		padding: 0;
	}
	
	footer ul.copyright-details li {
		font-size: 13px;
		display: block;
		margin: 12px 0;
	}
	
		footer ul.copyright-details li:last-child {
			margin-bottom: 0;
		}
	
		footer ul.copyright-details li:last-child:before {
			content: "";
			padding: 0;
		}
	
		footer div.back-to-top {
			left: 42%;
			bottom: 167px;
		}
}

@media only screen and (max-width: 1024px) {
	header {
		background-attachment: scroll;
	}
}